html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(#C2B280 20%, #2B65EC 20%, #2B65EC 80%, #C2B280 80%)
}

@keyframes winAnimation {
    0% {opacity: 0}
    100% {opacity: 1}
}

.winScreen {
    z-index: 40;
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    font-size: 13rem;
    background: rgba(196, 151, 92, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    animation-name: winAnimation;
    animation-duration: 2s;
}

.loseScreen {
    z-index: 40;
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    font-size: 13rem;
    background: rgba(78, 122, 218, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    animation-name: winAnimation;
    animation-duration: 2s;
}

#gameTitle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: monospace;
    font-size: 5rem;
}

#timerDiv {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2rem;
}


#gameTable {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 60vh;
    width: 60%;
    border: 2px solid;
}

#ship {
    z-index: 10;
    position: absolute;
    width: 10%;
    top: -3vh;
    left: 0;
}

#shipImage {
    width: 100%;
}

@keyframes bombFall {
    100% {transform: scale(0)};
}

.bomb {
    position: absolute;
    width: 10%;
    animation-name: bombFall;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.columnDown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border: 2px solid;
    overflow: hidden;
}

.columnUp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border: 2px solid;
    overflow: hidden;
}


@keyframes crabMoveUp {
    0% {transform: translateY(0)}
    50% {transform: translateY(-60vh);}
    100% {transform: translateY(0);}
}

.crabBottom {
    position: relative;
    top: 3vh;
    max-width: 60%;

}

.animateUpwards {
    animation-name: crabMoveUp;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 100s;
}

@keyframes crabMoveDown {
    0% {transform: translateY(0)}
    50% {transform: translateY(60vh);}
    100% {transform: translateY(0);}
}

.crabTop {
    position: relative;
    top: -3vh;
    max-width: 60%;
}

.animateDownwards {
    animation-name: crabMoveDown;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 100s;
}

#controls {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
}

#smStyle {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    background-color: #ACD1AF;
    border-color: #9AB19C;
    border: 2px;
    font-size: 1.5rem;
}

#speedMult {
    outline: none;
    font-size: 1.5rem;
    text-align: right;
    border: none;
    background-color:#ACD1AF;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#reroll {

    font-size: 2rem;
    font-family: monospace;
    margin-top: 10vh;
    height: 8vh;
    width: 20%;
    background-color: #EB5E55;
    border-color: #eb5f55bb;
}