#gameTitle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: monospace;
    font-size: 5rem;
}

#timer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2rem;
}

/*

table  {
    margin: auto;
    height: 60vh;
    width: 80%;
    border: 2px solid;
}

td {
    border: 2px solid;
}

*/

#gameTable {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 60vh;
    width: 80%;
    border: 2px solid;
}

.column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border: 2px solid;
}

.crab {
    margin: 10px 0px;
    max-width: 80%;
}

#controls {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
}
