#gameTitle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: monospace;
    font-size: 5rem;
}

#timer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2rem;
}

table  {
    margin: auto;
    height: 60vh;
    width: 80%;
    border: 2px solid;
}

td {
    border: 2px solid;
}

.crab {
    display: block;
    max-width: 100%;
    height: auto;
}

#controls {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
}
